body {
    background: linear-gradient(128deg, hsl(240, 35%, 45%) 46%, rgba(140, 120, 176, 1) 100%);
    min-height: 100vH;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start {
    display: contents;
}

#button {
    background-color: rgb(230, 207, 245);
    height: 3.5rem;
    width: 70%;
    border-radius: 5px;
    color: #403b7a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    position: absolute;
    top: 45%;
}

#button:hover {
    background-color: white;
}

img {
    position: absolute;
    top: 20%;
}

#quiz-div,
#points-div {
    background-color: #e6cff5;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#quiz-div {
    height: 25rem;
    width: 95%;
    overflow: hidden;
}

#points-div {
    height: 16rem;
    width: 90%;
    align-items: center;
}


h4 {
    font-family: 'Inter', sans-serif;
    padding-top: 2rem;
    font-size: 1.8rem;
}

#user-score {
    color: #5048a4;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

#question {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: rgb(36, 35, 35);
    margin-top: 1.5rem;
    align-self: center;
    margin-bottom: 1.5rem;
}

#submit-button {
    background-color: #403b7a;
    height: 4.5rem;
    width: 100%;
    position: absolute;
    bottom: 0%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

#submit-button:hover {
    background-color: #393569;
}

.answer-div:hover {
    background-color: #8c78b0;
}

.answer-div {
    height: 4rem;
    padding-left: 3rem;
    display: flex;
    align-items: center;
}

label {
    padding-left: 1rem;
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(128deg, hsl(240, 35%, 45%) 46%, rgba(140, 120, 176, 1) 100%);
    min-height: 100vH;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start {
    display: contents;
}

#button {
    background-color: rgb(230, 207, 245);
    height: 3.5rem;
    width: 70%;
    border-radius: 5px;
    color: #403b7a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    position: absolute;
    top: 45%;
}

#button:hover {
    background-color: white;
}

img {
    position: absolute;
    top: 20%;
}

#quiz-div,
#points-div {
    background-color: #e6cff5;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#quiz-div {
    height: 25rem;
    width: 95%;
    overflow: hidden;
}

#points-div {
    height: 16rem;
    width: 90%;
    align-items: center;
}


h4 {
    font-family: 'Inter', sans-serif;
    padding-top: 2rem;
    font-size: 1.8rem;
}

#user-score {
    color: #5048a4;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

#question {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: rgb(36, 35, 35);
    margin-top: 1.5rem;
    align-self: center;
    margin-bottom: 1.5rem;
}

#submit-button {
    background-color: #403b7a;
    height: 4.5rem;
    width: 100%;
    position: absolute;
    bottom: 0%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

#submit-button:hover {
    background-color: #393569;
}

.answer-div:hover {
    background-color: #8c78b0;
}

.answer-div {
    height: 4rem;
    padding-left: 3rem;
    display: flex;
    align-items: center;
}

label {
    padding-left: 1rem;
    font-family: 'Inter', sans-serif;
}